<div id="cartContainer">
  <div id="exit-cart"></div>
  <div class="cart-container">
    <div class="cart-header-container">
      <h2>TU CARRITO (<span id="cart-count-fix"></span> ARTÍCULOS)</h2>
      <a id="close-cart" href="javascript:void(0)">Cerrar</a>
    </div>
  
    <div id="products-fx" class="products-fx-cart">
      
    </div>
    <div class="cart-price-container" id="cart-price-container">
    
    </div>
    <a id="cart-price-checkout" class="cart-price-checkout" href="/checkout">PROCEDER AL PAGO</a>
  </div>
</div>