<div class="collection-banner-container faq-banner-container">
  <div class="collection-fader faq-fader">
    <h1>AVISO DE PRIVACIDAD</h1>
  </div>
</div>

<div class="faq-main-container">
  <div class="faq-question-container">
    <div class="faq-container">
      <span class="faq-question">Identidad y domicilio del Responsible</span>
      <p class="faq-answer">
        NOMBRE DE COMPAÑÍA S.A. DE C.V con domicilio en Domicilio del Negocio
        #01 Cuautla, Morelos, México. Teléfono 0123456789
      </p>
    </div>
    <div class="faq-container">
      <span class="faq-question"
        >Datos personales que recaba NOMBRE DE COMPAÑÍA S.A. DE C.V y el no
        tratamiento de datos personales sensibles</span
      >
      <p class="faq-answer">
        Son los datos personales, ya sea de identificación y/o financieros y/o
        profesionales proporcionados por usted de manera directa o por cualquier
        medio de contacto y/o foro público de conexión en línea relacionados
        con: (i) los servicios que presta NOMBRE DE COMPAÑÍA S.A. DE C.V,
        servicios administrativos y diversos en general (en lo sucesivo y
        conjuntamente referidos como los "Servicios") y (ii) cualesquiera otros
        datos que se recaben de tiempo en tiempo con motivo de la prestación de
        los Servicios. NOMBRE DE COMPAÑÍA S.A. DE C.V no recaba ni trata datos
        personales sensibles.
      </p>
    </div>
    <div class="faq-container">
      <span class="faq-question">Finalidades primarias</span>
      <p class="faq-answer">
        NOMBRE DE COMPAÑÍA S.A. DE C.V tratará sus datos personales para llevar
        a cabo alguna o todas las actividades necesarias para el cumplimiento de
        las obligaciones que se originen y deriven de la relación contractual
        y/o comercial de la prestación de los Servicios, facturación y cobranza.
      </p>
    </div>
    <div class="faq-container">
      <span class="faq-question">Finalidades secundarias</span>
      <p class="faq-answer">
        NOMBRE DE COMPAÑÍA S.A. DE C.V tratará sus datos personales para llevar
        a cabo alguna o todas las finalidades secundarias como informarle del
        lanzamiento o cambios de nuevos productos, bienes, servicios,
        promociones y/u ofertas de acuerdo a sus intereses; realizar estudios
        sobre hábitos de consumo y de mercado, así como para cualquier otra
        actividad tendiente a promover, mantener, mejorar y evaluar los
        Servicios. Si usted no desea que NOMBRE DE COMPAÑÍA S.A. DE C.V trate
        sus datos personales para dichas finalidades secundarias por favor envíe
        un correo electrónico a <b>datospersonales@companymail.com</b>. Usted
        podrá cambiar de opción en cualquier momento.
      </p>
    </div>
    <div class="faq-container">
      <span class="faq-question"
        >Medio y procedimiento para ejercer Derechos ARCO y/o revocación de
        consentimiento para el tratamiento de datos personales</span
      >
      <p class="faq-answer">
        Usted o su representante legal podrá ejercer cualquiera de los derechos
        de acceso, rectificación, cancelación u oposición (en lo sucesivo
        "Derechos ARCO"), así como revocar su consentimiento para el tratamiento
        de sus datos personales enviando un correo electrónico al Departamento
        de Datos Personales de NOMBRE DE COMPAÑÍA S.A. DE C.V a la dirección
        <b>datospersonales@companymail.com</b>, donde se le atenderá en tiempo y
        forma. <br />

        Su petición deberá ser realizada a través del Formulario Único para
        Ejercicio de Derechos ARCO, Revocación del Consentimiento y/o Limitación
        del Uso o Divulgación de Datos Personales (en lo sucesivo el
        "Formulario") que se encuentra a su disposición en nuestra página y
        contiene todos los elementos para poder atender su solicitud conforme a
        la normatividad. Para que el Departamento de Datos Personales de NOMBRE
        DE COMPAÑÍA S.A. DE C.V pueda darle seguimiento a su solicitud, usted o
        su representante legal, deberá acreditar correctamente su identidad para
        lo que es necesario que complete todos los campos indicados en el
        Formulario y lo acompañe con copia de alguna de las identificaciones
        oficiales vigentes que se señalan en el mismo. <br />

        En caso de que la información proporcionada en el Formulario sea errónea
        o insuficiente, o bien, no se acompañen los documentos de acreditación
        correspondientes, el Departamento de Datos Personales de NOMBRE DE
        COMPAÑÍA S.A. DE C.V , dentro de los cinco (5) días hábiles siguientes a
        la recepción de la solicitud, podrá requerirle que aporte los elementos
        o documentos necesarios para dar trámite a la misma. Usted contará con
        diez (10) días hábiles para atender el requerimiento, contados a partir
        del día siguiente en que lo haya recibido. De no dar respuesta en dicho
        plazo, se tendrá por no presentada la solicitud correspondiente. <br />

        El Departamento de Datos Personales de NOMBRE DE COMPAÑÍA S.A. DE C.V le
        comunicará la determinación adoptada, en un plazo máximo de veinte (20)
        días hábiles contados desde la fecha en que se recibió la solicitud, a
        efecto de que, si resulta procedente, haga efectiva la misma dentro de
        los quince (15) días hábiles siguientes a que se comunique la respuesta.
        La respuesta se dará vía electrónica a la dirección de correo que se
        especifique en el Formulario. <br />

        <b
          >Opciones y medios para limitar el uso o divulgación de sus datos
          personales</b
        >
        <br />

        Usted podrá limitar el uso o divulgación de sus datos personales
        enviando su solicitud al Departamento de Datos Personales de NOMBRE DE
        COMPAÑÍA S.A. DE C.V a la dirección
        <b>datospersonales@companymail.com</b>. Los requisitos para acreditar su
        identidad, así como el procedimiento para atender su solicitud se
        regirán por los mismos criterios señalados en el apartado anterior. En
        caso de que su solicitud resulte procedente, el Departamento de Datos
        Personales de NOMBRE DE COMPAÑÍA S.A. DE C.V lo registrará en el listado
        de exclusión propio de NOMBRE DE COMPAÑÍA S.A. DE C.V con el objeto de
        que usted deje de recibir nuestras promociones.
        <br />
        <br />
        <b
          >Si estás interesado en ejercer tus derechos ARCO, por favor descarga
          aquí el "Formulario Único para el Ejercicio de Derechos ARCO,
          Revocación del Consentimiento y/o Limitación de Uso o Divulgación de
          Datos Personales" y envíalo al correo
          datospersonales@companymail.com</b
        >
      </p>
    </div>
    <div class="faq-container">
      <span class="faq-question">Identidad y domicilio del Responsible</span>
      <p class="faq-answer">
        NOMBRE DE COMPAÑÍA S.A. DE C.V tratará sus datos personales para llevar
        a cabo alguna o todas las actividades necesarias para el cumplimiento de
        las obligaciones que se originen y deriven de la relación contractual
        y/o comercial de la prestación de los Servicios, facturación y cobranza.
      </p>
    </div>
  </div>
</div>
