<div class="collection-banner-container faq-banner-container">
  <div class="collection-fader faq-fader">
    <h1>PREGUNTAS FRECUENTES</h1>
  </div>
</div>


<div class="faq-main-container">
    <div class="faq-question-container">
        <h1 class="uppercase">Preguntas Frecuentes Romen Viveros</h1>

        <h2 class="uppercase">Devoluciones y Reembolsos</h2>
        <div class="faq-container">
            <span class="faq-question">Do you allow refunds/returns?</span>
            <p class="faq-answer">All sales are final. We do not offer refunds/exchanges, nor do we allow cancellations/ returns. Please keep in mind that colors will appear different on individuals depending on skin tone and lip pigmentation. Items will not be replaced or exchanged for this reason. KKWBeauty.com reserves the right to refuse any returns at any time.</p>
        </div>
        <div class="faq-container">
            <span class="faq-question">Do you allow refunds/returns?</span>
            <p class="faq-answer">All sales are final. We do not offer refunds/exchanges, nor do we allow cancellations/ returns. Please keep in mind that colors will appear different on individuals depending on skin tone and lip pigmentation. Items will not be replaced or exchanged for this reason. KKWBeauty.com reserves the right to refuse any returns at any time.</p>
        </div>
        <h2 class="uppercase">Devoluciones y Reembolsos</h2>
        <div class="faq-container">
            <span class="faq-question">Do you allow refunds/returns?</span>
            <p class="faq-answer">All sales are final. We do not offer refunds/exchanges, nor do we allow cancellations/ returns. Please keep in mind that colors will appear different on individuals depending on skin tone and lip pigmentation. Items will not be replaced or exchanged for this reason. KKWBeauty.com reserves the right to refuse any returns at any time.</p>
        </div>
        <div class="faq-container">
            <span class="faq-question">Do you allow refunds/returns?</span>
            <p class="faq-answer">All sales are final. We do not offer refunds/exchanges, nor do we allow cancellations/ returns. Please keep in mind that colors will appear different on individuals depending on skin tone and lip pigmentation. Items will not be replaced or exchanged for this reason. KKWBeauty.com reserves the right to refuse any returns at any time.</p>
        </div>
        <div class="faq-container">
            <span class="faq-question">Do you allow refunds/returns?</span>
            <p class="faq-answer">All sales are final. We do not offer refunds/exchanges, nor do we allow cancellations/ returns. Please keep in mind that colors will appear different on individuals depending on skin tone and lip pigmentation. Items will not be replaced or exchanged for this reason. KKWBeauty.com reserves the right to refuse any returns at any time.</p>
        </div>
    </div>
</div>