<div class="collection-banner-container faq-banner-container">
  <div class="collection-fader faq-fader">
    <h1>FORMAS DE PAGO</h1>
  </div>
</div>

<div class="faq-main-container">
  <div class="faq-question-container">
    <h2 class="uppercase">Pago en línea</h2>
    <div class="faq-container">
      <span class="faq-question">Do you allow refunds/returns?</span>
      <p class="faq-answer">
        Podrás pagar con tu tarjeta bancaria Visa, MasterCard y American Express
        o a través de PayPal con los mismos tipos de tarjetas. (crédito o
        débito).
      </p>
    </div>
    <div class="faq-container">
      <p class="faq-answer">
        All sales are final. We do not offer refunds/exchanges, nor do we allow
        cancellations/ returns. Please keep in mind that colors will appear
        different on individuals depending on skin tone and lip pigmentation.
        Items will not be replaced or exchanged for this reason. KKWBeauty.com
        reserves the right to refuse any returns at any time.
      </p>
    </div>
    <h2 class="uppercase">Pago en efectivo</h2>
    <div class="faq-container">
      <p class="faq-answer">
        Podrás acudir a tu tienda autoservicio OXXO más cercana para poder
        realizar el pago de tu orden.
        <br />
        Recuerda que tu línea de pago cuenta con una vigencia de hasta 3 días.
        <br />
        Para evitar complicaciones, te sugerimos hacer tu pago lo antes posible
        y no esperar a la fecha de vencimiento.
      </p>
    </div>
    <div class="faq-container">
      <p class="faq-answer">
        Recuerda que es vital para adidas contar con la confirmación de tu pago
        para poder empezar a preparar tu pedido. El pago mediante tarjeta de
        crédito es totalmente seguro. La totalidad de la transacción se realiza
        de forma cifrada a través de un servidor de validación bancaria
        utilizándose el protocolo de encriptación SSL (Secure Socket Layer), así
        pues, el número de su tarjeta de crédito y la fecha de caducidad quedan
        instantáneamente encriptados en su ordenador antes de ser enviados al
        protocolo SSL.
      </p>
    </div>
  </div>
</div>
