<div class="collection-banner-container faq-banner-container">
  <div class="collection-fader faq-fader">
    <h1>DEVOLUCIONES</h1>
  </div>
</div>

<div class="faq-main-container">
  <div class="faq-question-container">
    <div class="faq-container">
      <span class="faq-question">¿Cómo puedo devolver mi pedido?</span>
      <p class="faq-answer">
        Nuestros tiempos de envió a todo el País es de 3 a 5 días hábiles. Si ya
        paso este periodo, por favor contacta al área de servcio al cliente.
        Nuestros asesores estan listos para apoyarte.<br />

        Los tiempos para cambios y devoluciones es de 60 días. Si deseas iniciar
        el proceso, por favor contacta al área de Servicio al cliente por el
        canal de tu preferencia. <br />

        <b>Nota:</b> No aceptamos devoluciones de top deportivo, traje de baño,
        bodys, short de triatlón, calcetines y máscaras.

        <br /><br />

        <b>IMPORTANTE:</b> Si tu orden fue generada antes del 28 de julio del
        2020, adidas únicamente podrá reembolsar integro el monto de tu
        devolución. <br />

        Si tu orden fue generada a partir del 28 de julio del 2020, adidas podrá
        realizar únicamente cambios de talla (mismo código, diferente talla)
        siempre y cuando el precio sea el mismo, de lo contrario, tienes la
        opción de cambio en tienda o recibir tu reembolso.
      </p>
    </div>
    <div class="faq-container">
      <span class="faq-question"
        >¿Cuáles son los requisitos para devolver uno o varios productos?</span
      >
      <div class="faq-answer">
        <b
          >Los plazos para cambios y devoluciones es de 60 días, desde la fecha
          en que recibiste tu pedido.</b
        ><br /><br />
        <ol style="padding-left: 28px">
          <li>No aceptamos devoluciones de tops, trajes de baño o calcetas.</li>
          <li>
            El producto debe permanecer nuevo y sin uso y no haya sufrido un
            deterioro esencial.
          </li>
          <li>
            Debe entregarse dentro de su empaque original, ya sea caja o
            envoltorio, con sus etiquetas originales sin haber sido
            desprendidas.
          </li>
          <li>
            Tienes un plazo de 60 días calendario a partir de la fecha de
            recepción del producto.
          </li>
          <li>El producto debe haber sido comprado en adidas.mx</li>
          <li>
            Para artículos dañados de origen o con problemas de calidad tienes
            un plazo de 60 días calendario a partir de la fecha de recepción del
            producto.
          </li>
        </ol>
      </div>
    </div>
    <div class="faq-container">
      <span class="faq-question"
        >¿Cuánto tiempo tengo para devolver un pedido?</span
      >
      <p class="faq-answer">
        Los plazos para <b>cambios y devoluciones es de 60 días,</b> desde la
        fecha en que recibiste tu pedido.
        <br />
        <br />
        Nuestra garantía de satisfacción es incondicional. Si crees que los
        productos adidas adquiridos en nuestro sitio web no son lo que
        esperabas, puedes devolver tu pedido y solicitar tu reembolso.
      </p>
    </div>
  </div>
</div>
