<div class="collection-banner-container faq-banner-container">
  <div class="collection-fader faq-fader">
    <h1>POLÍTICAS DE CAMBIO</h1>
  </div>
</div>

<div class="faq-main-container">
  <div class="faq-question-container">
    <h2 class="uppercase">Nuestras políticas</h2>
    <div class="faq-container">
      <div class="faq-answer">
        <ul style="padding-left: 28px;">
            <li>Recuerda que cuentas con 30 días a partir de la fecha en que recibas tu
            compra para cualquier devolución.</li>
            <li>Cualquier producto puede ser devuelto.</li>
            si cuenta con sus etiquetas colocadas y/o empaques originales.</li>
            <li>Los artículos deben encontrarse en las mismas condiciones en que se
            recibieron.</li>
            <li>No deben mostrar signos de uso, lavado o daño.</li>
            <li>Si deseas cancelar, agregar o cambiar tu pedido, solo tienes 60 minutos después de
            haber hecho tu compra para solicitarlo.</li>
        </ul>
    </div>
    </div>
    <h2 class="uppercase">Si deseas un cambio de talla o modelo una vez que recibes tu paquete, podemos ofrecerte tres opciones
        para que elijas la que más te convenga:</h2>
        <div class="faq-container">
            <div class="faq-answer">
                <ul style="padding-left: 28px;">
                    <li>Acudir personalmente a una de nuestras tiendas oficiales.</li>
                    <li>Reembolso de lo que pagaste por tu prenda aplicándose al método de pago original.</li>
                    <li>Una gift card (tarjeta de regalo) con el valor de lo que pagaste.</li>
                    <li>De este modo podrás elegir alguna otra prenda de nuestra tienda en línea.</li>
                </ul>
            </div>
        </div>
  </div>
</div>